html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body{
    font-family: 'Raleway', sans-serif;
    background-image: url("https://acegif.com/wp-content/uploads/balloon-3.gif");
    background-color: #8c7eff;
    background-blend-mode: screen;
}
    

#fig-fundo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 8px;
    
    height: 550px;
    width: 410px;
    margin: 0 auto;
    
    background-color: #a03aba;

    
}

#img-fundo{
    width: 95%;
    height: 95%;
    border-radius: 8px;
    border: 2px solid black;
    
    
}

#title{
    font-size: 45px;
    text-align: center;
    
    color: white;
    background-color: #a03aba;
    border-radius: 8px;
    width: 750px;
    margin:0 auto;
    margin-top: 50px;
    padding: 4px;
    border: 2px solid black;
}

#box{
    display: flex;
    column-gap: 50px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    margin-top: 30px;
}

p{
    font-size: 20px;
    color: white;
    background-color: #a03aba;
    border-radius: 8px;
    width: 300px;
    padding: 10px;
    border: 2px solid black;
}

#btn-aperte{
    padding: 6px;
    width: 300px;
    height: 100px;
    border-radius: 6px;
    background-color: #a03aba;
    color: white;
    font-size: 24px;
    border: 2px solid black;
    cursor: pointer;

}

#box-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 60px;

}

#btn-aperte:hover{
    background-color: darkred;
}





@media screen and (min-width: 768px) {


    
    
}